/* Button Styles */
button {
    background-color: #16181E;
    color: rgb(242, 242, 242);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 300px;
    height: 60px;
    transition: background-color 0.3s;
    font-family: 'Tahoma';
    font-weight: 600;
    letter-spacing: 0.6px;
}