.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payments-group {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #16181E;
}
.payments-group label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
    width: 80%;
    margin-left: 50px;
}
.payments-group input {
    width: 80%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #262D34;
}
.buttons {
    text-align: center;
}
.buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
#add-payments {
    background-color: #262D34;
    color: #fff;
}
#submit-form {
    background-color: #262D34;
    color: #fff;
}