
#container-logo {
    display: 'flex';
    background:rgba(255, 255, 255, 0);  
}


#logo-img {
    width: 40px; 
    height: 30px;
    margin-right: 12px;
    border-radius: 2px;
}



#logo-description {
   color: #FF571A; 
   font-family: "Inter";
   font-size: 22px;
   font-weight: bold;
   display: inline-block;
   text-shadow: 2px 2px 5px black;
}