@import "tailwindcss";
#dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*width: 88vw;*/
    /*height: 100vh;*/
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
}

#dashboard-operations {
    width: 80%;
}

#dashboard-operations button {
    background-color: #262626;
    margin-left: 10px;
    margin-right: 10px;

}