#dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

#dashboard-img {
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100px;
}

#dashboard-operations {
    width: 80%;
}

#dashboard-operations button {
    background-color: #262D34;
    margin-left: 10px;
    margin-right: 10px;

}