#table {
    
    background-color:hsla(0, 0.00%, 100.00%, 0.00);
    padding: 40px;
    width: auto;
}

table {
    border: 1px solid #FF571A;
    border-collapse: collapse;
    background-color: #262D34;
}

td {
    border: 1px solid #FF571A; 
    padding: 20px;
}

th {
    border: 1px solid #FF571A;
    background-color: #1C1E25;
    padding: 20px;
}



